/* ExpertSignup.css */

/* Base styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Container for the form */
.expertSignup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffa8db, #ffffff);
}

.expertSignup-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 32.2rem;
  background: rgb(244, 244, 244);
  border-radius: 0 10px 10px 0;
  box-shadow: 100px 100px 100px 100px rgba(255, 0, 102, 0.1);
  text-align: center;
}

.expert-poster {
  display: flex;
}
.expert-image {
  width: 20rem;
  height: 32.2rem;
  border-radius: 10px 0 0 10px;
  filter: brightness(50%);
}

.h1-expert {
  font-size: 24px;
  /* margin-bottom: 10px; */
  position: absolute;
  top: 40%;
  color: white;
  margin-left: 100px;
  line-height: 2;
}

/* Form headings */
h2 {
  color: #000000;
  text-align: center;
  font-weight: bolder;
  margin: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"] {
  padding: 5px 20px 5px 20px;
  margin-bottom: 15px;
  border: 1px solid #434343;
  border-radius: 4px;
}

/* File input labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Buttons */
.buttons {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 153, 255); /* Magenta button */
  color: white;
  cursor: pointer;
  margin: 10px;
}

.buttons:hover {
  background-color: rgb(139, 203, 246); /* Darker magenta for hover effect */
}

.showButton {
  padding: 1px;
  border: none;
  border-radius: 4px;
  background-color: rgb(3, 154, 255); /* Magenta button */
  color: white;
  cursor: pointer;
}
.showButton:hover {
  background-color: rgb(139, 203, 246);
}

/* Password mismatch message */
p {
  color: black;
  text-align: center;
}

.down-button {
  display: flex;
}

.password-input {
  width: 222px;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .expertSignup-container {
    flex-direction: column;
  }
  .expertSignup {
    margin: 20px;
    padding: 15px;
  }
  .expert-image {
    height: 20%;
    border-radius: 10px 10px 0 0;
    filter: brightness(50%);
  }
  .expertSignup-card {
    padding: 10px;
    height: 45vh;
    border-radius: 0px 0px 10px 10px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="file"] {
    padding: 5px;
  }
  .showButton {
    padding: 2px;
  }

  .h1-expert {
    top: 27%;
    left: 40%;
    line-height: 2;
    margin-left: 0;
  }
  .password-input {
    width: inherit;
  }
  .showButton {
    padding: 3px;
    font-size: 12px;
  }
}
